@import 'variable';
@import 'mixin';


#header h1
{
    color: lighten($primary,0%);
    font-weight: 600;
    font-size: 90px;
    padding: 10px ;
}
.col-md-6 p
{
    @include col-style(50x,red);
    
}
.btn
{
    color: #fff;
    border: solid 1px $primary;
    border-radius: 5px;

}
/* -----------------Section 2----------------- */
.page2
{
    padding-top: 80px;
    padding-bottom: 80px;
}
.page2 p
{
    font-size: 20px;
    text-align: center;
    border: 3px solid $primary;
}
span
{
    color: $primary;
}


// service section
#services
{
    padding-top: 60px;
    padding-bottom: 80px;
    @extend .btn;

    h1::after{
        content:'';
        background: #FA8072;
        display: block;
        height: 3px;
        width: 170px;
        margin: 20px auto 5px;
    }

    p{
       

        &:hover{
            color:green;
        }
    }

    img{
        width: 250px;
        height: auto;
    }




}